<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Randomizer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v2.0.50727" sku="Client"/></startup>
    <userSettings>
        <Randomizer.Properties.Settings>
            <setting name="Top" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="Left" serializeAs="String">
                <value>50</value>
            </setting>
        </Randomizer.Properties.Settings>
    </userSettings>
</configuration>
